<ion-header>
<ion-toolbar>
    <ion-title>
      As características da Mãe
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
  <ion-label>Olhos do Mãe</ion-label>
  <ion-select value="brown" okText="Ok" cancelText="voltar">
    <ion-select-option value="brown">Azul</ion-select-option>
    <ion-select-option value="blonde">Castanho</ion-select-option>
    <ion-select-option value="black">Verde</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
<ion-label>Cabelo da Mãe</ion-label>
<ion-select value="brown" okText="Okay" cancelText="Dismiss">
  <ion-select-option value="brown">Loiro</ion-select-option>
  <ion-select-option value="blonde">Castanho</ion-select-option>
  <ion-select-option value="black">Preto</ion-select-option>
</ion-select>
</ion-item>
<ion-item>
<ion-label>Cabelo da Mãe</ion-label>
<ion-select value="brown" okText="Okay" cancelText="Dismiss">
  <ion-select-option value="brown">Rosada</ion-select-option>
  <ion-select-option value="blonde">Amarelada</ion-select-option>
  <ion-select-option value="black">Clara</ion-select-option>
  <ion-select-option value="black">Parda</ion-select-option>
  <ion-select-option value="black">Negra</ion-select-option>
</ion-select>
</ion-item>
<ion-item>
  <ion-label position="floating"> Nome do seu bebê </ion-label>
  <ion-input [(ngModel)]="seubb.nome"></ion-input>
</ion-item>
  <ion-button expand = "full " (click)="verivicar()">Salvar</ion-button>
<ion-button expand = "full " href="lista-bb">Lista de bebês</ion-button>
  <ion-button expand="full" (click)="verificar()">As características do Bebê</ion-button>
</ion-content>
